<%@ CodeTemplate Language="C#" TargetLanguage="C#" Encoding="utf-8" Debug="True"  %>
<%@ Property Name="ClassName" Optional="False" Type="System.String" Category="基本信息" Description="类名称" %>
<%@ Property Name="TableName" Optional="False" Type="System.String" Category="基本信息" Description="数据库表名" %>
<%@ Property Name="ClassNameSpace" Optional="False" Type="System.String" Category="基本信息" Description="命名空间" %>
<%@ Property Name="ModelNameSpace" Optional="False" Type="System.String" Category="基本信息" Description="模型层命名空间" %>
<%@ Map Name="CSharpAlias" Src="System-CSharpAlias" Description="C#系统类型图" %>
<%-- 注册要生成的模板 --%>
using System.Data.Entity.ModelConfiguration;
using <%= this.ModelNameSpace%>;

namespace <%= this.ClassNameSpace%>
{
    <%--生成制定表的实体类--%>
    public  class <%= this.ClassName%>Configuration:EntityTypeConfiguration<<%=this.ClassName%>> {
    
        public <%= this.ClassName%>Configuration() 
        {
            HasKey(m => m.<%= this.ClassName%>GUID);
            ToTable("<%= this.TableName%>");
        }
    }
}


