<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Encoding="utf-8" Debug="True"  %>
<%@ Property Name="ClassNameSpace" Optional="False" Type="System.String" Category="基本信息" Description="命名空间" %>

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace <%= this.ClassNameSpace%>
{
    public interface IFlowApprove
    {

        /// <summary>
        /// 提交审批 => 线下
        /// </summary>
        /// <param name="guid">业务guid</param>
        ///<param name="isFormWorkFlow">是否来自工作流审批</param>
        void SubmitApprove(Guid guid, bool isFormWorkFlow = false);
        /// <summary>
        /// 发起审批 (工作流审批 => 线上)
        /// </summary>
        /// <param name="guid">业务GUID</param>
        ///<param name="isFormWorkFlow">是否来自工作流审批</param>
        void LaunchApprove(Guid guid, bool isFormWorkFlow = false);

        /// <summary>
        /// 审批通过
        /// </summary>
        /// <param name="guid">业务GUID</param>
        ///<param name="isFormWorkFlow">是否来自工作流审批</param>
        void ApprovePass(Guid guid, bool isFormWorkFlow = false);

        /// <summary>
        /// 审批驳回
        /// </summary>
        /// <param name="guid">业务GUID</param>
        ///<param name="isFormWorkFlow">是否来自工作流审批</param>
        void ApproveReject(Guid guid, bool isFormWorkFlow = false);

    }

}
