<%-- 
Name:
Author: 
Description: 
--%>
<%@ Template Language="C#" TargetLanguage="Text" %>
<%@ Property Name="ClassName" Type="System.String" Description="类名"%>
<%@ Property Name="CustomeServiceName" Type="System.String" Description="自定义服务名"%>
<%@ Property Name="NeedApproval" Default="Flase" Type="System.Boolean" Description="审批"%>
<%@ Property Name="NameSpace" Default="ZapSoft.Core.Framework" Type="System.String" Description="命名空间名称"%>

namespace Zap.ConstractProject
{
    public class BidSectionService : IBidSectionService
    {

        
    }
}


<script runat="template">
// My methods here.
public string SampleMethod()
{
  return "Method output.";
}
</script>