<%@ Template Language="C#" TargetLanguage="C#" %>
<%@ Property Name="ClassName" Optional="False" Type="System.String" Category="基本信息" Description="类名称" %>
<%@ Property Name="ClassNameSpace" Optional="False" Type="System.String" Category="基本信息" Description="命名空间" %>
<%@ Property Name="HasApproval" Optional="False" Type="System.Boolean" Category="选项" Description="审批" %>
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using ZapSoft.BMP.Application.Implementation;
using ZapSoft.BMP.Application.Session;
using ZapSoft.Core.Framework;
using ZapSoft.TPS.Application;
using ZapSoft.TPS.Model;

namespace <%= this.ClassNameSpace%>
{
    public class <%= this.ClassName%>Controller : BaseController
    {
        #region 视图

        public ActionResult <%= this.ClassName%>Index()
        {
            return View();
        }

        public ActionResult Create<%= this.ClassName%>()
        {

            return RedirectToAction("<%= this.ClassName%>Detail", new { FormAction = FormAction.Create, Guid = Guid.Empty });
        }

        public ActionResult Modify<%= this.ClassName%>(Guid guid)
        {

            return RedirectToAction("<%= this.ClassName%>Detail", new { FormAction = FormAction.Modify,Guid = guid});
        }

        /// <summary>
        /// 详情
        /// </summary>
        /// <param name="formActionName">来源 controller</param>
        /// <returns></returns>
        public ActionResult <%= this.ClassName%>Detail(FormAction formAction, Guid guid)
        {
            switch (formAction)
            {
                case FormAction.Create:
                    break;
                case FormAction.Modify:
                    break;
                default:
                    break;
            }
            return View();
        }
        #endregion
        
       <% if(this.HasApproval){ %>
       #region 审批
        /// <summary>
        /// 保存数据并提交审批
        /// </summary>
        /// <param name="dto">业务数据</param>
        /// <returns></returns>
        [HttpPost]
        public ActionResult SaveAndSubmitApprove(<%= this.ClassName%>Dto dto)
        {
            //保存操作返回 OperationResult对象
            //var result = Save(param1...);
            if (result.ResultType == OperationResultType.Success)
            {
                try
                {
                    //注意：请替换null 为相应业务服务接口实例
                    var approveService = null as IFlowApprove;
                    approveService.SubmitApprove(dto.<%= this.ClassName%>GUID);
                    _unit.Commite();
                    result.Message = "提交成功";
                    result.ResultType = OperationResultType.Success;
                }
                catch (Exception ex)
                {
                    _unit.RollBackChanges();
                    result.Message = ex.Message;
                    Logger.Error(ex.Message, ex);
                }
            }
            var data = result.ToJson();
            return Content(data);
        }
        /// <summary>
        /// 审批通过
        /// </summary>
        /// <param name="businessGuid">业务GUID</param>
        /// <returns></returns>
        [HttpPost]
        public ActionResult ApprovePass(Guid businessGuid)
        {
            var result = new OperationResult();
            try
            {
                //注意：请替换null 为相应业务服务接口实例
                var approveService = null as IFlowApprove;
                approveService.ApprovePass(businessGuid);
                _unit.Commite();
                result.Message = "已通过审批";
                result.ResultType = OperationResultType.Success;
            }
            catch (Exception ex)
            {
                _unit.RollBackChanges();
                result.Message = ex.Message;
                Logger.Error(ex.Message, ex);
            }
            var data = result.ToJson();
            return Content(data);
        }
        
        /// <summary>
        /// 审批驳回
        /// </summary>
        /// <param name="businessGuid">业务GUID</param>
        /// <returns></returns>
        [HttpPost]
        public ActionResult ApproveReject(Guid businessGuid)
        {
            var result = new OperationResult();
            try
            {
                //注意：请替换null 为相应业务服务接口实例
                var approveService = null as IFlowApprove;
                approveService.ApproveReject(businessGuid);
                _unit.Commite();
                result.Message = "已驳回审批";
                result.ResultType = OperationResultType.Success;
            }
            catch (Exception ex)
            {
                _unit.RollBackChanges();
                result.Message = ex.Message;
                Logger.Error(ex.Message, ex);
            }
            var data = result.ToJson();
            return Content(data);
        }
       #endregion
       <%} %>
    }
}
