<%@ Template Language="C#" TargetLanguage="C#" %>
<%@ Property Name="LayoutType"  Type="LayoutTypeEnum" Default="0" Category="视图信息" Description="选择母模页" %>
<%@ Property Name="ClassName" Optional="False" Type="System.String" Category="基本信息" Description="类名称" %>
<%@ Property Name="GloblJS" Optional="True" Type="System.Boolean" Default="false" Category="个人需求" Description="个人需求" %>
@{
    <%if(LayoutType == LayoutTypeEnum.None){%>
    Layout = null;
    <%}%>
    <%if(LayoutType == LayoutTypeEnum.Layout_Left_TBInRight){%>
    Layout = "~/Views/Shared/Layout_Left_TBInRight.cshtml";
    <%}%>
    <%if(LayoutType == LayoutTypeEnum.Layout_LeftRight){%>
    Layout = "~/Views/Shared/Layout_LeftRight.cshtml";
    <%}%>
    <%if(LayoutType == LayoutTypeEnum.Layout_Top_LRInBottom){%>
    Layout = "~/Views/Shared/Layout_Top_LRInBottom.cshtml";;
    <%}%>
     <%if(LayoutType == LayoutTypeEnum.Layout_TopBottom){%>
    Layout = "~/Views/Shared/Layout_TopBottom.cshtml";
    <%}%> 
}
@section pageContentId {id="<%= this.ClassName%>Index"}
<%=RenderScetion(this.LayoutType)%>
<script>
   <%if(this.GloblJS){ %>
    $(function(){
        var namespace = $.zap.pages.<%=this.ClassName.ToLower()%>;
        var variableset = namespace.variableset;
    })
   <%}%>
</script>
<script src="~/Areas/TPS/Scripts/<%=this.ClassName%>/<%=this.ClassName%>.js"></script>
<script runat="template">
    public enum LayoutTypeEnum{
        None=0,
        Layout_Left_TBInRight,
        Layout_LeftRight,
        Layout_Top_LRInBottom,
        Layout_TopBottom
    }
    
   public string  RenderScetion(LayoutTypeEnum type){
        var Layout_Left_TBInRight =@"
    @section leftCondition_header_title{}
    @section leftCondition_header_btn{}
    @section leftCondition_isShowFooter{}
    @section leftCondition_content{}
    @section leftCondition_footer{}
    @section rightTopContent_header_title{}
    @section rightTopContent_header_btn{}
    @section rightTopContent_content{}
    @section rightBottomContent_header_title{}
    @section rightBottomContent_header_btn{}
    @section rightBottomContent_content{}";
       var Layout_LeftRight =@"
    @section leftCondition_header_title{}
    @section leftCondition_header_btn{}
    @section leftCondition_content{}
    @section rightContent_header_title{}
    @section rightContent_header_btn{}
    @section rightContent_content{}";

       var Layout_Top_LRInBottom =@"
    @section topHeader_content{}
    @section leftCondition_header_title{}
    @section leftCondition_header_btn{}
    @section leftCondition_content{}
    @section rightContent_header_title{}
    @section rightContent_header_btn{}
    @section rightContent_content{}";

       var Layout_TopBottom =@"
    @section topHeader_content{}
    @section bottomContent_header_title{}
    @section bottomContent_header_btn{}
    @section bottomContent_content{}";

       var str = "";
       switch (type)
            {
                case LayoutTypeEnum.Layout_Left_TBInRight:
                    str = Layout_Left_TBInRight;
                    break;
                case LayoutTypeEnum.Layout_LeftRight:
                    str = Layout_LeftRight;
                    break;
                case LayoutTypeEnum.Layout_Top_LRInBottom:
                    str = Layout_Top_LRInBottom;
                    break;
                case LayoutTypeEnum.Layout_TopBottom:
                    str = Layout_TopBottom;
                    break;
                case LayoutTypeEnum.None:
                    default:
                    break;
            }
            return str;
       
   }
</script>