<%@ Template Language="C#" TargetLanguage="C#" %>
<%@ Property Name="ClassName" Optional="False" Type="System.String" Category="基本信息" Description="类名称" %>
<%@ Property Name="HasApproval" Optional="False" Type="System.Boolean" Category="选项" Description="审批" %>

@{
    Layout = null;
}
<% if(this.HasApproval){ %>
@using ZapSoft.Core.Framework;
@model ZapSoft.TPS.Application.<%=this.ClassName%>Dto
<%} %>
<div class="bjui-pageContent adapt-form" id="<%=(this.ClassName.ToLower())%>_detail"  style="background-color:#fff">
   
</div>
<div class="bjui-pageFooter hz_pageFooter">
    <% if(this.HasApproval){ %>
    @if (Model.State == OperationState.Update && Model.ApproveStatus == ApproveStatus.UnApprove.GetDescription())
    {
        <button type="button" class="btn btn-close">关闭</button>
        if (ViewBag.ApproveWay == "0")
        {
            <button type="button" class="btn btn-blue approve" id="<%=(this.ClassName.ToLower())%>_@Model.<%=this.ClassName%>GUID_SubmitApprove">提交审批</button>
        }
        else
        {
            <button type="button" class="btn btn-blue approve" id="<%=(this.ClassName.ToLower())%>_@Model.<%=this.ClassName%>GUID_LaunchApprove">发起审批</button>
        }
        <button type="button" class="btn btn-blue" id="<%=(this.ClassName.ToLower())%>_@Model.<%=this.ClassName%>GUID_save">保存</button>
    }
    else if (Model.State == OperationState.Create)
    {
        <button type="button" class="btn btn-close">关闭</button>
        <button type="button" class="btn btn-blue" id="<%=(this.ClassName.ToLower())%>_@Model.<%=this.ClassName%>GUID_save">保存</button>
    }
    else if (Model.State == OperationState.Update && Model.ApproveStatus == ApproveStatus.Approving.GetDescription())
    {
        <button type="button" class="btn btn-close">关闭</button>
        <button type="button" class="btn btn-blue approve" id="<%=(this.ClassName.ToLower())%>_@Model.<%=this.ClassName%>GUID_ApproveReject">审批驳回</button>
        <button type="button" class="btn btn-blue approve" id="<%=(this.ClassName.ToLower())%>_@Model.<%=this.ClassName%>GUID_ApprovePass">审批通过</button>
    }
    else if (Model.State == OperationState.Update && Model.ApproveStatus == ApproveStatus.Approved.GetDescription())
    {
        <button type="button" class="btn btn-close">关闭</button>
        <button type="button" class="btn btn-blue approve" id="<%=(this.ClassName.ToLower())%>_@Model.<%=this.ClassName%>GUID_ApproveReject">审批驳回</button>
    }
    <%}else{ %>
     <button type="button" class="btn btn-close">关闭</button>
    <%} %>
</div>
<script src="~/Areas/TPS/Scripts/<%=this.ClassName%>/<%=this.ClassName%>Detail.js"></script>
<script runat="template">
    public enum LayoutTypeEnum{
        None=0,
        Layout_Left_TBInRight,
        Layout_LeftRight,
        Layout_Top_LRInBottom,
        Layout_TopBottom
    }
</script>